= form_for news_item, url: form_url, html: { method: form_method } do |f|
  - if news_item.errors.any?
    .alert.alert-danger
      %h2
        "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
      %ul
        - news_item.errors.full_messages.each do |message|
          %li= message

  %table
    %thead
      %tr
        %th Title
        %th Link
        %th Description
        %th Select
    %tbody
      - news_list.each_with_index do |news, index|
        %tr
          %td= news[:title]
          %td= link_to news[:link], news[:link], target: '_blank'
          %td= news[:description]
          %td= radio_button_tag 'selected_news', index

  .form-group.row
    .col-sm-3
      = f.label :representative_id, class: 'col-form-label'
    .col-sm-9
      = f.hidden_field :representative_id, value: representative_id
      = text_field_tag :representative_name, representative.name, readonly: true, class: 'form-control'

  .form-group.row
    .col-sm-3
      = f.label :issue, class: 'col-form-label'
    .col-sm-9
      = f.hidden_field :issue, value: issue
      = text_field_tag :issue, issue, readonly: true, class: 'form-control'

  .form-group.row
    .col-sm-3
      = f.label :rating, class: 'col-form-label'
    .col-sm-9
      = f.select :rating, rating_list, { include_blank: true }, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
